@mixin Center {
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
}
@mixin Fs_Ff_Fw_color {
   color: rgba(85, 85, 85, 1);
   font-family: 'Montserrat', sans-serif;
   font-weight: 500;
   font-size: 1.20vw;
   
   text-align: left;
}
@mixin onclick_interectiv_menu{
   display: none;
   position: absolute;
   z-index: 5;
     background: #F4F4F4;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.15);
  ul {
    
   li{
     padding: 1vw 0 ;
     &:hover{
       background-color: #CFD8DC;
     }
   }
   position: fixed;
   top: 80px;
   text-align: left;
   background: rgba(244, 244, 244, 1);
   border-top: 3px solid;
   border-color: rgba(229, 0, 104, 1);
   
    a {
     @include Fs_Ff_Fw_color;
     padding: 1vw;
     white-space: pre-wrap;
   }
 }
}

// .name {
//    @include Center;
//       }