header {
  width: 100%;
  background: #F4F4F4;
  height: 80px;
  @include Center;
  box-shadow: 0px 6px rgba(0, 0, 0, 0.15);

  
  .profile_bucklet_icon {
    & a {
      padding: 0 5px;
    }
  }
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked+.menu__btn>span {
  transform: rotate(45deg);
}

#menu__toggle:checked+.menu__btn>span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu__toggle:checked+.menu__btn>span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
  left: 0 !important;
}

.menu__btn {
  position: fixed;
  top: 35px;
  left: 40px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: rgba(60, 60, 60, 1);
  transition-duration: .25s;
}

.menu__btn>span::before {
  content: '';
  top: -8px;
}

.menu__btn>span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  top: 80px;
  right: 50%;
  left: 35px;
  width: 150px;
  height: 235px;
  padding: 20px 0;
  list-style: none;
  background: rgba(244, 244, 244, 1);
  box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.15);
  
  border-top: 3px solid;
  border-color: rgba(229, 0, 104, 1);
}

.hamburger_list {
  left: -100%;
  transition-duration: .25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  text-decoration: none;
  transition-duration: .25s;
  @include Fs_Ff_Fw_color;
  &:hover{
    background-color: #CFD8DC;
  }
}



.menu {
  li{
    padding: 0 2vw;
  }
  @include Center;
  width: 55%;
  .menu__main {
    @include Fs_Ff_Fw_color;
    color: rgba(60, 60, 60, 1);

    &::after {
      margin-left: 5px;
      content: url(/img/arrow_down.png);
    }
  }
}

.interectiv_menu_sets {
  
    @include onclick_interectiv_menu;

  .menu_sets {
    
    li{
      padding: 1vw 0 ;
      &:hover{
        background-color: #CFD8DC;
      }
    }
    position: fixed;
    top: 80px;
    text-align: left;
    background: rgba(244, 244, 244, 1);
    border-top: 3px solid;
    border-color: rgba(229, 0, 104, 1);
    
     .menu__set {
      @include Fs_Ff_Fw_color;
      padding: 1vw;
      white-space: pre-wrap;
    }
  }
}
.onclick_sets{
  left: 300px;
}

#block {
  width: 500px;
  height: 500px;
  background-color: rebeccapurple;
  margin: 0 auto;
}